<html lang="es"><head>
  <meta charset="iso-8859-1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1f2732">

  <title>Ariadna Acosta</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@200&display=swap" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="title">
      <img src="images/Ari.png" width="130px" height="130px">
      <div class="resume">
        <h1>Ariadna Acosta</h1>
        <p>Soy una persona creativa me gusta darle sentido y brillo a lo que hago, ayudo a los demás a poder lograr lo que se proponen. Manejo diseño gráfico y publicidad. Mi objetivo es llegar a ser una profesional y terminar mi carrera universitaria</p> 
      </div>
    </div>

    <main>

      <div class="div-left" style="
    display: flex;
    /* height: 670px; */
    /* width: 45%; */
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-evenly;
">

    <section class="skill">
      <h2 style="
    text-align: center;
">Habilidades</h2>
      <ul>
        <li><i class="point">• </i>Matemáticas</li>
        <li><i class="point">• </i>Word</li>
        <li><i class="point">• </i>Diseño y publicidad</li>
        <li><i class="point">• </i>Música</li>
      </ul>
    </section>
        
    <section class="lang">
        <h2 style="
    text-align: center;
">Idiomas</h2>
        <ul>
            <li><i class="point">• </i>Español</li>
            <li><i class="point">• </i>Inglés</li>
            <li><i class="point">• </i>Portugués</li>
            <li><i class="point">• </i>Alemán</li>
        </ul>
    </section>

    <section class="contact" style="
    width: 90%;
">
      <h2 style="
    text-align: center;
">Contacto</h2> 
      <ul>
  
        <li><i class="point">• </i><b>Correo: </b><i><a href="https://anthonyzok521@gmail.com">ariacosta3104@gmail.com</a></i></li>
        <li><i class="point">• </i><b>Instagram: </b><i><a href="https://instagram.com/ariadna906">@ariadna906</a></i></li>
      </ul>
    </section>
    
    </div>
        
    
    <div class="div-right" style="
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
">
    <section class="exp">
      <h2 style="
    text-align: center;
">Experiencia Laboral</h2>
      <b>Profesora de Matemáticas</b><br>
      <small><i>Escuela Arístides Rojas | 2018 - 2020</i></small>
      <p>Profesora de matemática para la escuela Arístides Rojas por dos años.</p>
    </section>

    <section class="educt">
      <h2 style="
    text-align: center;
">Educación</h2>
      <ul>
      <li><i class="point">• </i>Bachillerato en U.E.P Juan de Bolívar y Villegas Villa de Cura, Estado Aragua.</li>
      <li><i class="point">• </i>Grado de estudio: Actualmente universitario en la Uiversidad Nacional Experimental Rómulo Gallegos(UNERG), Ingeniería de Sistemas(AIS), San Juan de los Morros, Estado Guárico.</li>
    </ul>
    </section>
    </div>
  </main>
  </div>

</body>
</html>