<!DOCTYPE html>
<html>
  <head>
    <title>Hola Mundo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola Mundo</h1>
    <p>Soy Ariadna Acosta <br> C.I: 31.294.368 <br> Sección: #3</p>
  </body>
</html>
