*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background-color: rgb(255, 255, 255);
  	height: 100%;
}
h1{
	font-family: 'Alexandria', sans-serif;
}
.container{
  /*  FLEXBOX */
  	display: flex;
  	flex-flow: column wrap;
	background-color: #f73ae48c;
	border: 1px solid #9c09ff;
	width: 60%;
	margin: 0 auto;
}

main{
	display: flex;
    color: rgb(0, 0, 0);

    flex-wrap: wrap;
	flex-direction: column;

}

.title{
	display: flex;
	background-color: #ff9eff;
}

.resume{
	display: flex;
	text-align: center;
	font-family: "Rubik";
}

p, ul{
	font-family: 'Quicksand', sans-serif;
} 
h2{
	font-family: 'Alexandria', sans-serif;
}

.point{
	color: #ff1eda;
}

li{
	list-style: none;
}


.skill{
	margin-bottom: 30px;
    flex-direction: column;
	border: 3px solid rgba(255, 255, 255, 0.178);
	box-shadow: 2px 3px 5px rgba(233, 233, 233, 0.178);
}

.exp{
	display: flex;
	margin-bottom: 30px;
	/* text-align: center; */
	border: 3px solid rgba(255, 255, 255, 0.178);
	box-shadow: 2px 3px 5px rgb(233 233 233 / 18%);
	/* flex-direction: column; */
	/* align-items: center; */
}

.educt{
	display: flex;
	/* text-align: center; */
	border: 3px solid rgba(255, 255, 255, 0.178);
	box-shadow: 2px 3px 5px rgb(233 233 233 / 18%);
	flex-direction: column;
	/* align-items: center; */
}

.contact{
	display: flex;
    border: 3px solid rgba(255, 255, 255, 0.178);
    box-shadow: 2px 3px 5px rgb(233 233 233 / 18%);
    flex-direction: column;
}

.lang{
    flex-direction: column;
	border: 3px solid rgba(255, 255, 255, 0.178);
	box-shadow: 2px 3px 5px rgba(233, 233, 233, 0.178);
}

b, small{
	font-family: 'Quicksand', sans-serif;
}

.title img{
	border-radius: 50%;
	margin-bottom: 12px;
	float: left;
	box-shadow: 0px 0px 10px white;
}
a{
	text-decoration-line: none;
	color:#1e90ff;
}
a:hover{
	color: rgb(67, 171, 255);
}

.details{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	color:rgba(18, 24, 31, 0.753);
}

/*	ANIMACIÓN DE SOMBRA EN H2*/
@keyframes move_shadow{
	0%{
		box-shadow: -15px 0px 0px #1e90ff;
	}
	50%{
		box-shadow: 15px 0px 0px #1e90ff;
	}
	100%{
		box-shadow: -15px 0px 0px #1e90ff;
	}
}

/*  MEDIA QUERIE PARA AJUSTAR A TELÉFONO  */

@media screen and (max-width:425px) {
	.div-right {
		display: flex;
		flex-direction: column;
		background-color: white;
		/* width: 45%; */
		align-items: center;
	}
	.div-left{
		align-items: center;
	}

  .container{
	font-weight:500;
    margin: 0;
	padding: 0;
    width: 100%;
	align-items: center;
  }

  img{
	  margin: 0;
  }

	.title {
    display: flex;
    flex-direction: column;
    align-items: center;
	font-size: 16px;
	}

	.resume {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0px;
	}

	.skill{
		margin-top: 30px;
	}
	.educt{
		font-size: 15px;
	}

	.contact{
		width: 90%;
		margin-bottom: 20px;
	}

	input{
		padding: 5px;
		margin: 5px;
		width: 125px;
	}

	textarea{
		width: 300px;
		height: 150px;
	}
	.modal{
		margin: 20% 42% 20% 11%;
	}

	.translater a{
		border: none;
		width: 50px;
		background-color: #3f8eff;
		font-family: 'Rubik';
		font-weight: 600;
		letter-spacing: 2px;
		color: white;
		text-indent:-999px;
	}

	.exp {
		display: flex;
		margin-bottom: 30px;
		text-align: center;
		border: 3px solid rgba(255, 255, 255, 0.178);
		box-shadow: 2px 3px 5px rgb(233 233 233 / 18%);
		flex-direction: column;
	}

	.educt {
		display: flex;
		text-align: center;
		border: 3px solid rgba(255, 255, 255, 0.178);
		box-shadow: 2px 3px 5px rgb(233 233 233 / 18%);
		flex-direction: column;
		/* align-items: center; */
	}
}

@media screen and (min-width:426px) and (max-width:727px){
	.container{
	  font-weight:500;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  align-items: center;
	}
  
	img{
		margin: 0;
	}
  
	  .title {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  font-size: 16px;
	  }
  
	  .resume {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  margin: 20px 0px;
	  }
  
	  .skill, .lang{
		display: flex;
		margin-bottom: 30px;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 30px;
		flex-direction: column;
	}
	  
	  .educt{
		  font-size: 15px;
	  }
  
	  .contact{
		  width: 100%;
	  }
  
	  input{
		  padding: 5px;
		  margin: 5px;
		  width: 125px;
	  }
  
	  textarea{
		  width: 300px;
		  height: 150px;
	  }

	  footer{
		height: 56vh;
	  }

	  form{
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		align-content: center;
		flex-direction: column;
	  }
	  .modal{
		margin: 20% 42% 20% 20%;
	  }
	  .translater a{
		border: none;
		width: 50px;
		background-color: #3f8eff;
		font-family: 'Rubik';
		font-weight: 600;
		letter-spacing: 2px;
		color: white;
		text-indent:-999px;
	}
  }

@media screen and (min-width:728px) and (max-width:1024px){
	body{
		margin-top: 50px;
	}
	.resume{
		text-align: center;
		flex-direction: column;
	}

	/* main {
		margin: 0;
		display: flex;
		color: #fff;
		background-color: #0b2252;
		flex-wrap: wrap;
	} */
	main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.skill, .lang {
		margin: 30px 0px 20px 0px;
		display: flex;
		/* margin-bottom: 30px; */
		/* text-align: center; */
		flex-direction: column;
		align-items: center;
		width: 80%;
	}

	.div-left {
		display: flex;
		height: 670px;
		width: 45%;
		background-color: white;
		flex-wrap: wrap;
		justify-content: start;
		box-shadow: 3px 10px 15px #00000069;
	}

	.div-right{
		width: 50%;
		align-items: center;
		box-shadow: -3px 10px 15px #00000069;
	}

	.exp {
		display: flex;
		margin-bottom: 20px;
		text-align: center;
		flex-direction: column;
		align-items: center;
		width: 80%;
	}

	.educt{
		width: 80%;
	}

	.contact{
		width: 80%;
	}

	form{
		display: flex;
    flex-direction: column;
    align-items: center;
	}

	textarea {
		width: 350px;
		height: 128px;
	}

	.modal{
		margin: 20% 42% 20% 33%;
	}
  }

  @media screen and (min-width:1024px){
	body{
		margin-top: 50px;
		font-size: 20px;
		font-weight: 500;
	}
	.resume{
		text-align: center;
		flex-direction: column;
		margin-bottom: 10px;
	}

	.resume p{
		border-top: 1px solid black;
	}

	/* main {
		margin: 0;
		display: flex;
		color: #fff;
		background-color: #0b2252;
		flex-wrap: wrap;
	} */
	main {
		/* border-radius: 0px 0px 20px 20px; */
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.skill, .lang {
		display: flex;
	}

	.exp {
		display: flex;
		/* margin-bottom: 20px; */
		text-align: center;
		flex-direction: column;
		align-items: center;
		/* width: 80%; */
	}

	.div-left{
		display: flex;
		height: 670px;
		width: 45%;
		background-color: white;
		flex-wrap: wrap;
		justify-content: space-evenly;
		/* align-items: center; */
		flex-direction: column;
		box-shadow: 3px 10px 15px #00000069;
	}

	.div-right{
		width: 50%;
		box-shadow: -3px 10px 15px #00000069;
	}


  }
